services:
  traefik:
    image: "traefik"
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      # PROVIDER SWARM (pas Docker avec swarmmode)
      - "--providers.swarm=true"
      - "--providers.swarm.exposedbydefault=false"
      - "--providers.swarm.endpoint=unix:///var/run/docker.sock"
      - "--providers.swarm.network=myapp_traefik"
      - "--providers.swarm.refreshSeconds=15"
      - "--entrypoints.web.address=:80"
      - "--log.level=INFO"
      - "--accesslog=true"
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 8080
        published: 8080
        mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - traefik
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure

  app:
    image: bloby01/web:v1
    networks:
      - traefik
    deploy:
      replicas: 6
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.app.rule=Host(`web1.mon.dom`)"
        - "traefik.http.routers.app.entrypoints=web"
        - "traefik.http.services.app.loadbalancer.server.port=80"

  app2:
    image: bloby01/web:v1
    networks:
      - traefik
    deploy:
      replicas: 4
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.app2.rule=Host(`web2.mon.dom`)"
        - "traefik.http.routers.app2.entrypoints=web"
        - "traefik.http.services.app2.loadbalancer.server.port=80"

networks:
  traefik:
    driver: overlay
    attachable: true
    driver_opts:
      encrypted: "false"
