version: '3'
services:
 weby:
   build: .
   command: python3 manage.py runserver 0.0.0.0:8000
   volumes:
   - django:/code
   ports:
   - "8000:8000"
   restart: always
   depends_on:
   - ddb
 ddb:
   image: postgres
   restart: always
   environment:
   - POSTGRES_PASSWORD=toto
   volumes:
   - djangodb:/var/lib/postgresql/data
volumes:
 django:
 djangodb:
